page-home {
    .bg-image{
        background-image: url('../assets/imgs/fondo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: static;
        background-attachment: fixed;
    }
    #contenido{
        top:100px;
        }
            .card-background-page {

                ion-card {
                  position: relative;
                  text-align: center;
                  border: none;
                }
                
}
}
